.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-right:
}

/*
 font-family: 'Playfair Display', serif;
font-family: 'Prata', serif;
font-family: 'Roboto', sans-serif;
*/

body {

  min-width: 1366px;
  min-height: 2995px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(27, 26, 23, 1);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: rgba(27, 26, 23, 1);
}

.page-header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.main-logo {
  width: 103.68px;
  height: 26px;
  margin-left: 97px;
  margin-top: 31px;
  margin-right: 266.32px;
  margin-bottom: 28px;
}

.main-nav {
  display: flex;
}

.main-nav__list {
  padding: 0;
  margin-top: 35px;
  min-width: 422px;
  height: 13px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.user-nav__list {
  padding: 0;
  margin-left: 278px;
  margin-top: 35px;
  margin-right: 100px;
  list-style: none;
  display: flex;
  width: 99px;
  height: 21px;
  justify-content: space-between;
}

.preview {
  background: #FDFDFB;

  background-image: url("img/Ellipse.png");
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  height: 768px;
}





.clock-descriptions p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  width: 258px;
  height: 34px;
  margin-bottom: 64px;
}



.preview__main h2 {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.preview__main p {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 39px;
}

.button {
  width: 129px;
  height: 11px;
  padding: 26.5px 38px;
  display: inline-block;
  background-color: #444240;
  color: #ffffff;
  font-family: "Roboto", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.clock-descriptions {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock-preview {
  position: relative;

  display: flex;
}

.clock-preview__price {
  position: relative;
  align-self: flex-start;
  margin-top: 138px;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.clock-preview__price::after {
  position: absolute;
  content: "";
  position: absolute;
  width: 50px;
  height: 0px;
  border: 0.1px solid #8B8371;
  right: -65px;
  top: 8px;
}

.clock-preview__size {
  position: relative;
  align-self: flex-end;
  margin-bottom: 116px;
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.clock-preview__size::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 0px;
  border: 0.1px solid #8B8371;
  left: -65px;
  top: 8px;
}

.pop-models-prev {
  font-family: "Playfair Display", "serif";
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}

.look-all__link {

  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  display: block;
  text-align: right;
  margin-right: 98px;
  position: relative;
}

.look-all__link::after {
  content: "";
  position: absolute;
  border: 1px solid #C4C0B6;
  width: 101px;
  height: 0px;
  top: 25.5px;
  right: 0;
}

.pop-models__list {
  display: flex;
}
